
.devbox-tools {

  all: initial;
  font-family: inherit;
  color: inherit;

  &:first-child {
    padding-top: 8px;
  }

  &:has(> .devbox-tools-buttons:empty) {
    display: none;
  }

  .devbox-tools-name {
    all: initial;
    display: flex;
    align-items: end;
    padding: 0 16px;
    min-height: 22px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #808080;
    user-select: none;
  }

  .devbox-tools-buttons {
    all: initial;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 6px;
    color: inherit;
    font-family: inherit;
  }

}
